DJANGO_SECRET_KEY=YOUR_DJANGO_SECRET_KEY
DJANGO_DEBUG=True/False
DATABASE_URL=postgres://youruser:your@localhost:5432/yourdb
TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
CELERY_BROKER_URL=YOUR_CELERY_BROKER_URL
CELERY_RESULT_BACKEND=YOUR_CELERY_RESULT_BACKEND
DJANGO_ALLOWED_HOSTS=YOUR_DJANGO_ALLOWED_HOSTS
